extends layout.pug

block content
  script(src="/javascripts/delete-review.js" type="module")
  script(src="/javascripts/edit-review.js" type="module")

  link(rel="stylesheet" href="/stylesheets/movie-page-styles.css")
  div.movie-details
    div.title-release
      h2.title= movies.title
      p Released: (#{movies.release})
    div.movie-rating
      img.movie-img(src=`${movies.poster}`)
      div.rating
        p.user-score User Score
        if avg >= 3
          p.score-good= avg
        else if avg < 3
          p.score-bad= avg
        else if avg > 4.8
          p.score-must-watch
    div.director-genre
      p Directed By: #{movies.director}
      p Genre(s): #{movies.genre}
    div(class="shelf-dropdown")
      each shelf in shelves
        form(action=`/shelves/${shelf.id}` method="POST")
          //- input(type="hidden" name="_csrf" value=csrfToken)
          button(id=`movie-${movies.id}` type="submit") Add #{movies.title} to shelf
          input(type="hidden", name="moviesId", value=movies.id)
          select(class="shelves" name=movies.id)
            option(value=`${shelf.id}` id=`shelf-${shelf.id}`)= shelf.name
  div.reviews
    p Reviews:
      each userReview in userReviews
        //- Display Usernames beside reviews
        div(class="review-card" id=`${userReview.id}`)
          p(class="rating" id=`${userReview.id}-rating`) Rating:#{userReview.rating}
          p(class="review-body" id=`${userReview.id}-reviewBody`)= userReview.reviewBody
          if loggedInUser === userReview.userId
            button(class="delete-button" id=`delete-${userReview.id}`) Delete
            button(class="edit-button" id=`edit-${userReview.id}`) Edit
            form(class="hidden" id=`form-${userReview.id}`)
              label Review:
              input(type="text" name="title" value=userReview.reviewBody id=`${userReview.id}-edit-body`)
              label Rating
                select(class="rating-score" id=`${userReview.id}-edit-rating` name="rating")
                  option(value=1) 1
                  option(value=2) 2
                  option(value=3) 3
                  option(value=4) 4
                  option(value=5) 5
                button(class="edit-submit" id=`edit-submit-${userReview.id}`) Submit Edit
  div.review-form
    form(action=`/movies/${movieId}` method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      label Leave a review
      textarea.review-body(name="reviewBody")
      label Rating
      select.rating-score(name="rating")
        option(value=1) 1
        option(value=2) 2
        option(value=3) 3
        option(value=4) 4
        option(value=5) 5
      button.submit-review(type="submit") Submit Review
