extends layout.pug

block content
  h2= movies.title
  img.movie-img(src=`${movies.poster}`)
  div.rating
    p Ratings
    p= avg
  p Directed By: #{movies.director}
  p Released: #{movies.release}
  p Genre(s): #{movies.genre}
  div.reviews
    p Reviews:
      each review in reviews
        div.review-card
          p= review
