extend layout.pug

block content
        title="My Shelves"
        link(rel='stylesheet' href='/stylesheets/shelf-page.css')
        div.my-shelves
            p My Shelves
            each shelf in allShelves
                if loggedInUser === shelf.userId
                    a(href=`/shelves/${shelf.id}`)= shelf.name
        table
            thead
                tr
                    th Poster
                    th Title
                    th Director
                    th My Rating
                    th My Review
            tbody
                each movie in movies
                    tr
                        td
                            img(src=movie.poster style={width: '50px'})
                        td= movie.title
                        td= movie.director
                        if currentUser.Reviews.length
                            each review in currentUser.Reviews
                                if review.movieId === movie.id
                                    td= review.rating
                                    td= review.reviewBody
                        td= ""
                        td= ""



                        //- if movie.Reviews.length
                        //-     each review in movie.Reviews
                        //-         if review.userId === loggedInUser
                        //-             td= review.rating
                        //-             td= review.reviewBody
                        //- else
                        //-     td= "Be the First to Rate!"
                        //-     td= "Be the First to Review!"
